extends layout

block content
  h1= title
  div   
    button(onclick="window.location.href='/new'") Send a message
  ul 
    each msg in messages
      div
        h2= msg.user
        h3= msg.text
        p= msg.added
